Language content negotiation

The motivation of this feature is to allow API implementors to have access to the negotiated language so they can adapt the responses if needed.

# Normative Reference

## Accept-Language

The `Accept-Language` request HTTP header advertises which languages the client is able to understand, and which locale variant is preferred. (By languages, we mean natural  languages, such as English, and not programming languages.) Using content negotiation, the server then selects one of the proposals, uses it, and informs the client of its choice with the `Content-Language` response header. 

This header is a hint to be used when the server has no way of determining the language via another way, like a specific URL, that is controlled by an explicit user decision. It is recommended that the server never overrides an explicit decision. 

If the server cannot serve any matching language, it can theoretically send back a `406 (Not Acceptable)` error code. But, for a better user experience, this is rarely done and more common way is to ignore the Accept-Language header in this case.

### Syntax 

```
Accept-Language: <language>
Accept-Language: <locale>
Accept-Language: *

// Multiple types, weighted with the quality value syntax:
Accept-Language: fr-CH, fr;q=0.9, en;q=0.8, de;q=0.7, *;q=0.5
```

### Directives

- `<language>`: A language expressed as a 2 or 3-character string.
- `<locale>` A full language tag. In addition to the language itself, it may contain additional information after a `-`. The most common extra information is the country variant (like `'en-US'`) or the type of alphabet to use (like `sr-Lat`).
-  Any language; `'*'` is used as a wildcard.
- `q=` (q-factor weighting) Any value placed in an order of preference expressed using a relative quality value called weight.

### Examples

```
Accept-Language: de
Accept-Language: de-CH
Accept-Language: en-US,en;q=0.5
```
### Specifications

Specification | Title
-- | --
[RFC 7231, section 5.3.5: Accept-Language](https://datatracker.ietf.org/doc/html/rfc7231#section-5.3.5) | Hypertext Transfer Protocol (HTTP/1.1): Semantics and Context
[BCP 47](https://datatracker.ietf.org/doc/html/bcp47) | Tags for the Identification of Language




## Content-Language

The `Content-Language` entity header is used to describe the language(s) intended for the audience, so that it allows a user to differentiate according to the users' own preferred language. 

For example, if "`Content-Language: de-DE`"
is set, it says that the document is intended for German language  speakers (however, it doesn't indicate the document is written in German. For example, it might be written in English as part of a language course for German speakers).

If no `Content-Language` is specified, the default is that the content is intended for all language audiences. Multiple language tags are also possible, as well as applying the `Content-Language` header to various media types and not only to textual documents.

### Syntax

```
Content-Language: de-DE
Content-Language: en-US
Content-Language: de-DE, en-CA
```

### Directives
- `language-tag` Multiple language tags are separated by comma. Each language tag is a sequence of one or more case-insensitive subtags, each separated by a hyphen character ("`-`"). In most cases, a language tag consists of a primary language subtag that identifies a broad family of related languages (e.g., "`en`" = English), which is optionally followed by a series of subtags that refine or narrow that language's range (e.g., "`en-CA`" = the variety of English as communicated in Canada).
> Note: Language tags are formaly defined in [RFC 5646](https://tools.ietf.org/html/rfc5646), which rely on the ISO 639 standard 

### Examples

The `Content-Language` header is used to specify the *intended audience of the page*, and can indicate that this is more than one language. 

```
Content-Language: de, en
```

### Specifications

Specification | Title
-- | --
[RFC 7231, section 3.1.3.2: Content-Language](https://datatracker.ietf.org/doc/html/rfc7231#section-3.1.3.2) | Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content